@font-face {
    font-family: 'figgins_sans';
    src: url('font/figgins_sans-webfont.eot');
    src: url('font/figgins_sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/figgins_sans-webfont.woff') format('woff'),
         url('font/figgins_sans-webfont.ttf') format('truetype'),
         url('font/figgins_sans-webfont.svg#figgins_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'spsl_clarendoncbold';
    src: url('font/spslclarendonc-bold-webfont.eot');
    src: url('font/spslclarendonc-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/spslclarendonc-bold-webfont.woff') format('woff'),
         url('font/spslclarendonc-bold-webfont.ttf') format('truetype'),
         url('font/spslclarendonc-bold-webfont.svg#spsl_clarendoncbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'spsl_clarendoncregular';
    src: url('font/spslclarendonc-webfont.eot');
    src: url('font/spslclarendonc-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/spslclarendonc-webfont.woff') format('woff'),
         url('font/spslclarendonc-webfont.ttf') format('truetype'),
         url('font/spslclarendonc-webfont.svg#spsl_clarendoncregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helioscregular';
    src: url('font/heliosc-webfont.eot');
    src: url('font/heliosc-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/heliosc-webfont.woff') format('woff'),
         url('font/heliosc-webfont.ttf') format('truetype'),
         url('font/heliosc-webfont.svg#helioscregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: "Flaticon";
	src: url("font/9130734.eot");
	src: url("font/9130734.eot#iefix") format("embedded-opentype"),
		 url("font/9130734.woff") format("woff"),
		 url("font/9130734.ttf") format("truetype"),
		 url("font/9130734.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'corkiregular';
    src: url('font/corki-regular-webfont.eot');
    src: url('font/corki-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/corki-regular-webfont.woff') format('woff'),
         url('font/corki-regular-webfont.ttf') format('truetype'),
         url('font/corki-regular-webfont.svg#corkiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
* {
    margin: 0;
    padding: 0;
}
img {
    border: 0;
}
input, button, textarea, select {
    outline: none;
}
input[type='submit'] {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}
.clearfix:after {
	content: '';
	display: block;
    clear: both;
}
body, html {
	color: #6d4c30;
    margin: 0;
    padding: 0;
    font-family: 'figgins_sans', sans-serif;
    font-size: 20px;
    min-width: 1170px;
    background: rgb(255,246,220);
	background: -moz-linear-gradient(left,  rgba(255,246,220,1) 0%, rgba(255,249,233,1) 50%, rgba(255,246,220,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,246,220,1)), color-stop(50%,rgba(255,249,233,1)), color-stop(100%,rgba(255,246,220,1)));
	background: -webkit-linear-gradient(left,  rgba(255,246,220,1) 0%,rgba(255,249,233,1) 50%,rgba(255,246,220,1) 100%);
	background: -o-linear-gradient(left,  rgba(255,246,220,1) 0%,rgba(255,249,233,1) 50%,rgba(255,246,220,1) 100%);
	background: -ms-linear-gradient(left,  rgba(255,246,220,1) 0%,rgba(255,249,233,1) 50%,rgba(255,246,220,1) 100%);
	background: linear-gradient(to right,  rgba(255,246,220,1) 0%,rgba(255,249,233,1) 50%,rgba(255,246,220,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff6dc', endColorstr='#fff6dc',GradientType=1 );
}
header, section, footer, aside, nav, article {
    display: block;
}

header {
	height: 647px;
	background-image: url(../images/header-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-bottom: 1px solid #ffffff;
	background-attachment: fixed;
}
#header {
	position: relative;
	width: 1170px;
	margin: 0 auto;
	height: 647px;
}
.header-inr1 {
	position: relative;
	z-index: 2;
}
#logo {
	float: left;
	float: left;
	margin-top: 30px;
}
#header .phone {
	float: right;
	font-family: 'spsl_clarendoncbold';
	color: #ff5a42;
	padding-top: 35px;
}
#header .phone p {
	font-size: 36px;
	border-bottom: 2px solid #b1c739;
}
#header .phone p i {
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background-color: #b1c739;
	vertical-align: top;
	position: relative;
	top: 17px;
	margin: 0 5px;
}
#header .phone div {
	width: 295px;
	font-size: 14px;
	padding-top: 5px;
}
.header-inr2 {
	position: absolute;
	top: 35px;
}
nav#top-nav {
	width: 1170px;
	margin: 0 auto;
	height: 170px;
	background: url(../images/nav-bg.png) no-repeat;
	bottom: 0;
	left: 0;
	position: absolute;
	font-family: 'spsl_clarendoncbold';
	font-size: 12px;
	text-align: center;
}
nav#top-nav ul li a {
	color: #391421;
	text-decoration: none;
	text-transform: uppercase;
}
nav#top-nav ul {
	padding: 28px 25px 0;
	position: relative;
	/*padding-left: 25px;*/
}
nav#top-nav ul li {
	display: inline-block;
	width: 20%;
	margin: 0 -2px;
	text-align: center;
}
nav#top-nav ul li span.image {
	width: 140px;
	height: 100px;
	display: inline-block;
	background: url(../images/nav-image.png) no-repeat;
	background-position: 0 -39px;
}
nav#top-nav ul li.link-2 span.image { background-position: -192px -39px; }
nav#top-nav ul li.link-3 span.image { background-position: -435px -39px; }
nav#top-nav ul li.link-4 span.image { background-position: -675px -39px; }
nav#top-nav ul li.link-5 span.image { background-position: -890px -39px; }
nav#top-nav ul li a:hover span.image { background-position: 0 -221px; }
nav#top-nav ul li.link-2 a:hover span.image { background-position: -192px -221px; }
nav#top-nav ul li.link-3 a:hover span.image { background-position: -435px -221px; }
nav#top-nav ul li.link-4 a:hover span.image { background-position: -675px -221px; }
nav#top-nav ul li.link-5 a:hover span.image { background-position: -890px -221px; }
nav#top-nav ul li a:hover { color: #9e3c58; }
nav#top-nav ul li.link-2 a:hover { color: #d83f27; }
nav#top-nav ul li.link-3 a:hover { color: #4f7f33; }
nav#top-nav ul li.link-4 a:hover { color: #ff003c; }
nav#top-nav ul li.link-5 a:hover { color: #8c4507; }
/*nav#top-nav ul li.link-1 { margin-right: 50px; }
nav#top-nav ul li.link-2 { margin-right: 102px; }
nav#top-nav ul li.link-3 { margin-right: 90px; }
nav#top-nav ul li.link-4 { margin-right: 40px; }*/
nav#top-nav ul li span.text {
	display: block;
}
nav#top-nav .image-top { 
	position: absolute;
	width: 732px;
	height: 175px;
	background: url(../images/nav-image-top.png) no-repeat;
	top: -48px;
	left: 288px;
}
.container-product {
	padding-bottom: 12px;
	background-image: url(../images/bg2.png);
	background-repeat: repeat-x;
	background-position: center top;
}
.container-product.container-product-first {
	background-image: url(../images/bg.png);
	padding-top: 30px;
}
.container-product-inr {
	width: 1171px;
	margin: 0 auto;
}
.container-product .title, .popup .title {
	padding-top: 35px;
	margin: 0 14px;
	position: relative;
}
.container-product .title>span,  .popup .title>span {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	font-size: 36px;
	color: #ff5a42; 
	text-shadow: 0 1px 0 rgba(255,255,255,0.75);
	display: block;
	font-family: 'spsl_clarendoncbold';
	text-transform: uppercase;
}
.container-product .title.color-2>span,  .popup .title.color-2>span {
	color: #53a93c;
}
.container-product .title.color-3>span,  .popup .title.color-3>span {
	color: #ff003c;
}
.container-product .title>span>span,  .popup .title>span>span {
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	max-width: 815px;
}
.container-product .title>span:before, .container-product .title>span:after,
.popup .title>span:before, .popup .title>span:after {
	content: "";
	position: relative;
	display: inline-block;
	width: 50%;
	height: 2px;
	vertical-align: middle;
	background: #ff5a42;
	background-clip: content-box;
}
.container-product .title.color-2>span:before, .container-product .title.color-2>span:after,
.popup .title.color-2>span:before, .popup .title.color-2>span:after {
	background-color: #53a93c;
}
.container-product .title.color-3>span:before, .container-product .title.color-3>span:after, 
.popup .title.color-3>span:before, .popup .title.color-3>span:before {
	background-color: #ff003c;
}
.container-product .title:before, .container-product .title:after,
.popup .title:before, .popup .title:after {
	content: '';
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	left: -14px;
	top: 50%;
	margin-top: 11px;
	background: url(../images/line-1.png) no-repeat;
}
.container-product .title.color-2:before, .container-product .title.color-2:after, 
.popup .title.color-2:before, .popup .title.color-2:after {
	background: url(../images/line-2.png) no-repeat;
}
.container-product .title.color-3:before, .container-product .title.color-3:after, 
.popup .title.color-3:before, .popup .title.color-3:after {
	background: url(../images/line-3.png) no-repeat;
}
.container-product .title:after, .popup .title:after {
	left: auto;
	right: -14px;
}
.container-product .title>span:before, .popup .title>span:before {
	left: -20px;
	margin: 0 0 0 -50%;
}
.container-product .title>span:after, .popup .title>span:after {
	left: 20px;
	margin: 0 -50% 0 0;
}
.container-product .title2 {
	width: 820px;
	margin: 0 auto;
	text-align: center;
	padding: 15px 0;
}
.product-item {
	width: 329px;
	height: 392px;
	margin-bottom: 28px;
	margin-right: 29px;
	float: left;
	background-color: #ffffff;
	box-shadow: 0 0 2px #965a30;
	border: 1px solid transparent;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 20px 20px 0;
	position: relative;
}
.product-item .image {
	display: table-cell;
	table-layout: fixed;
	width: 329px;
	height: 215px;
	vertical-align: middle;
	text-align: center;
}
.product-item .image img {
	max-height: 205px;
	max-width: 100%;
}
.product-item .name-desk {
	height: 113px;
}
.product-item .name-desk a {
	text-decoration: none;
	font-size: 33px;
	line-height: 30px;
	color: #354554;
	font-family: "Flaticon";
}
.product-item .name-desk a:hover {
	opacity: 0.9;
}
.product-item .name-desk p {
	font-size: 14px;
	color: #8d7869;
	line-height: normal;
	max-height: 42px;
	overflow: hidden;
}
.product-item .price-num {
	width: 190px;
	float: left;
	line-height: 42px;
	font-size: 14px;
	color: #3a3a3a;
	font-family: 'spsl_clarendoncregular';
	position: relative;
}
.product-item .price-num .number {
	display: inline-block;
	padding-right: 3px;
	background-color: #fff;
	position: relative;
	width: auto;
}
.product-item .price-num .number * {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.product-item .price-num:before {
	content: '';
	width: 100%;
	display: block;
	position: absolute;
	border-top: 1px dotted #ddd7d4;
	top: 24px;
	left: 0;
}
.product-item .price-num .pirce {
	float: right;
	font-family: 'spsl_clarendoncbold';
	background-color: #fff;
	padding-left: 2px;
	position: relative;
	text-align: right;
}
.product-item .price-num .pirce .new {
	display: block;
	line-height: normal;
	margin-top: -29px;
	color: #ff5a42;
}
.product-item .price-num .pirce .old {
	display: inline-block;
	line-height: normal;
	position: relative;
	top: -18px;
	color: #767676;
}
.product-item .price-num .pirce .old:after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	padding: 0 10px;
	background-image: url(../images/old.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
	position: absolute;
	top: -1px;
	left: -10px;
}
.product-item .price-num .pirce .new i.icon-rub {
	background: url(../images/rub_new.png) no-repeat;
}
.product-item .price-num .pirce .old i.icon-rub {
	background: url(../images/rub_old.png) no-repeat;
}
i.icon-rub {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(../images/rub.png) no-repeat;
	margin-left: 5px;
}
.product-item .btn-bay {
	float: right;
}
.btn-bay, .btn-back {
	display: inline-block;
	text-decoration: none;
	width: 124px;
	height: 35px;
	line-height: 36px;
	background-color: #fff;
	padding: 2px;
	box-shadow: 0 0 1px #c16526;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	text-transform: uppercase;
	font-size: 14px;
	color: #ffffff;
	font-family: 'spsl_clarendoncregular';
	text-align: center;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}
.btn-bay:hover, .btn-back:hover {
	box-shadow: 0 0 3px #c16526;
}
.btn-bay span, .btn-back span {
	display: inline-block;
	width: 124px;
	height: 35px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background-color: #ff5a42;
}
.btn-bay2 span, .btn-back span {
	background-color: #b1c739;
}
.btn-bay:hover span {	
	background: rgb(255,147,126);
	background: -moz-linear-gradient(top,  rgba(255,147,126,1) 0%, rgba(255,45,26,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,147,126,1)), color-stop(100%,rgba(255,45,26,1)));
	background: -webkit-linear-gradient(top,  rgba(255,147,126,1) 0%,rgba(255,45,26,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,147,126,1) 0%,rgba(255,45,26,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,147,126,1) 0%,rgba(255,45,26,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,147,126,1) 0%,rgba(255,45,26,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff937e', endColorstr='#ff2d1a',GradientType=0 );
}
.btn-bay2:hover span, .btn-back:hover span {
	background: rgb(210,223,117);
	background: -moz-linear-gradient(top,  rgba(210,223,117,1) 0%, rgba(137,166,23,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(210,223,117,1)), color-stop(100%,rgba(137,166,23,1)));
	background: -webkit-linear-gradient(top,  rgba(210,223,117,1) 0%,rgba(137,166,23,1) 100%);
	background: -o-linear-gradient(top,  rgba(210,223,117,1) 0%,rgba(137,166,23,1) 100%);
	background: -ms-linear-gradient(top,  rgba(210,223,117,1) 0%,rgba(137,166,23,1) 100%);
	background: linear-gradient(to bottom,  rgba(210,223,117,1) 0%,rgba(137,166,23,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2df75', endColorstr='#89a617',GradientType=0 );
}
.product-item {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	top: 0;
}
.product-item:hover {
	border-color: #ecab7d;
	box-shadow: 0 2px 7px rgba(150,90,48,0.77);
	position: relative;
	top: -5px;
}
.product-item:hover i.plus, .product-item:hover i.minus, 
.popup .items-table table tbody tr:hover .number i.plus, .popup .items-table table tbody tr:hover .number i.minus {
	display: inline-block;
	background: url(../images/plus-minus.png) no-repeat;
	background-position: 0 0;
	width: 25px;
	height: 25px;
	position: relative;
	top: 7px;
	margin-right: 5px;
	cursor: pointer;
}
.product-item:hover i.plus, .popup .items-table table tbody tr:hover .number i.plus {
	margin: 0 0 0 5px;
	background-position: -61px 0;
}
.product-item:hover i.plus:hover, .popup .items-table table tbody tr:hover .number i.plus:hover {
	background-position: -61px -61px;
}
.product-item:hover i.minus:hover, .popup .items-table table tbody tr:hover .number i.minus:hover {
	background-position: 0 -60px;
}
.product-list {
	margin-right: -29px;
}
.product-item .label {
	position: absolute;
	width: 112px;
	height: 112px;
	top: -8px;
	left: -8px;
}
.product-item .label-1 {
	background: url(../images/item-label-1.png) no-repeat;
}
.product-item .label-2 {
	background: url(../images/item-label-2.png) no-repeat;
}
.product-item .label-3 {
	background: url(../images/item-label-3.png) no-repeat;
}
.product-item .label-4 {
	background: url(../images/item-label-4.png) no-repeat;
}
footer {
	margin-top: 72px;
	height: 377px;
	background: url(../images/footer-bg.png) repeat-x center;
	position: relative;
	z-index: 1;
}
.footer-inr1 {
	height: 236px;
	text-align: center;
	position: relative;
	width: 1230px;
	margin: 0 auto;
}
.footer-inr1:before {
	content: '';
	display: block;
	width: 80px;
	height: 85px;
	position: absolute;
	top: -52px;
	left: 50%;
	margin-left: -40px;
	background: url(../images/footer-img.png) no-repeat;
}
.footer-inr1 ul {
	padding-top: 53px;
}
.footer-inr1 ul li {
	display: inline-block;
	font-size: 14px;
	color: #c9b9b1;
	text-shadow: 0 1px 0 rgba(0,0,0,0.75);
	width: 25%;
	margin: 0 -4px;
	box-sizing: border-box;
}
.footer-inr1 ul li .title {
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'spsl_clarendoncbold';
	margin-top: 10px;
	letter-spacing: 0.1em;
}
.footer-inr1 ul li a .title {
	color: #dbc9b9;	
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
} 
.footer-inr1 ul li a:hover .title {
	color: #fff;
}
.footer-inr1 ul li.active a .title { color: #b3c840; } 
.footer-inr1 ul li a {
	text-decoration: none;
}
.footer-inr1 ul li .text {
	width: 235px;
	margin: 0 auto;
	line-height: 16px;
	margin-top: 6px;
}
.footer-inr1 ul li a .text {
	color: #b4a196;	
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
} 
.footer-inr1 ul li a:hover .text {
	color: #c9b9b1
}
.footer-inr1 ul li.active a .text { color: #9fab60; }
.footer-inr2 {
	width: 1160px;
	margin: auto;
}
.footer-inr2 .copy {
	float: left;
	font-size: 10px;
	color: #f8ffef;
	font-family: 'helioscregular';
	opacity: 0.2;
	padding-top: 65px;
}
.footer-inr2 .soc {
	text-align: center;
	padding-top: 28px;
	padding-right: 40px;
}
.footer-inr2 .soc div {
	font-size: 26px;
	color: #c9b9b1;
	text-shadow: 0 1px 0 rgba(0,0,0,0.75);
	font-family: "Flaticon";
	text-align: center;
	padding-bottom: 16px;
}
.footer-inr2 .soc a {
	display: inline-block;
	width: 37px;
	height: 37px;
	background: url(../images/soc.png) no-repeat;
	background-position: 0 -61px;
	margin: 0 12px;
}
.footer-inr2 .soc a:hover { background-position: 0 0; }
.footer-inr2 .soc a.fa { background-position: -65px -61px; }
.footer-inr2 .soc a.tw { background-position: -129px -61px; }
.footer-inr2 .soc a.go { background-position: -195px -61px; }
.footer-inr2 .soc a.fa:hover { background-position: -65px 0; }
.footer-inr2 .soc a.tw:hover { background-position: -129px 0; }
.footer-inr2 .soc a.go:hover { background-position: -195px 0; }
.footer-inr2 .dev {
	float: right;
	padding-top: 59px;
}
.footer-inr2 .dev a {
	display: inline-block;
	width: 140px;
	height: 22px;
	background: url(../images/dev.png) no-repeat;
	opacity: 0.2;
}
.footer-inr2 .dev a:hover {
	opacity: 0.4;
}
.btn-catalog {
	display: inline-block;
	border: 2px solid #fff;
	background-color: rgba(255,90,66,1);
	text-align: center;
	position: absolute;
	width: 266px;
	height: 35px;
	line-height: 37px;
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'spsl_clarendoncregular';
	border-radius: 5px;
	top: 375px;
	z-index: 2;
	left: 50%;
	margin-left: -135px;
}
.btn-catalog:hover {
	background-color: rgba(255,90,66,0.9);
}
.popup-order {
	display: none;
	position: fixed;
	width: 1118px;
	height: 90px;
	left: 50%;
	margin-left: -559px;
	bottom: -120px;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(244,242,241,1) 50%, rgba(228,224,221,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(244,242,241,1)), color-stop(100%,rgba(228,224,221,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,242,241,1) 50%,rgba(228,224,221,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,242,241,1) 50%,rgba(228,224,221,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(244,242,241,1) 50%,rgba(228,224,221,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(244,242,241,1) 50%,rgba(228,224,221,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e0dd',GradientType=0 );
	border: 1px solid #986e50;
	border-radius: 5px 5px 0 0;
	box-shadow: 0 2px 32px #774726;
}
.popup-order.fade {
	bottom: -1px;
}
.popup-order .number {
	width: 204px;
	height: 157px;
	position: absolute;
	background: url(../images/box.png) no-repeat;
	top: -38px;
	left: -30px;
}
.popup-order .number span {
	position: absolute;
	height: 30px;
	min-width: 26px;
	padding: 0 2px;
	border: 2px solid #fff;
	border-radius: 50%;
	text-align: center;
	box-shadow: 0 0 2px #965a30;
	background-color: #ff5a42;
	color: #fff;
	font-size: 18px;
	font-family: 'spsl_clarendoncregular';
	line-height: 30px;
	right: 15px;
	top: 10px;
}
.popup-order .details {
	float: left;
	padding-left: 162px;
	width: 630px;
	font-size: 19px;
	color: #3a3a3a;
	font-family: 'spsl_clarendoncregular';	
	padding-top: 22px;
}
.popup-order .details b {
	font-family: 'spsl_clarendoncbold';
	font-weight: normal;
}
i.icon-rub2 {
	width: 12px;
	height: 13px;
	background: url(../images/rub2.png) no-repeat;
	display: inline-block;
}
.popup-order .btn-bay {
	float: right;
	margin: 21px 26px 0 0;
	width: auto;
	height: auto;
}
.popup-order .btn-bay span {
	width: 218px;
	height: 41px;
	line-height: 43px;
}
.label-gift {
	background: url(../images/label-gift.png) no-repeat;
	position: absolute;
	right: -5px;
	top: -5px;
	width: 91px;
	height: 92px;
	display: block;
}

.popup-bg {
	position: fixed;
	width: 100%;
	height: 100%;
	background: url(../images/popup-bg.png);
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
}
.page-g {
	filter: blur(3px); 
	-webkit-filter: blur(3px); 
	-moz-filter: blur(3px);
	-o-filter: blur(3px); 
	-ms-filter: blur(3px);
	filter: url(blur.svg#blur);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
}
.popup {
	position: relative;
	width: 970px;
	background-color: #fff;
	z-index: 1001;
	border-radius: 5px;
	border: 1px solid #ecab7d;
	box-shadow: 0 2px 7px rgba(150,90,48,0.77);
	padding: 0 30px 50px;
	display: none;
	margin: 10px auto;
}
.popup:after {
	clear: both;
	content: '';
	display: block;
}
.popup .title {
	margin: 10px 0 50px;
}
.popup .items-table {
	float: left;
	width: 670px;
	margin-left: 3px;
}
.popup .items-table table {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	line-height: normal;
}
.popup .items-table table td {
	border-bottom: 1px solid #e5d0b7;
	text-align: center;
}
.popup .items-table table td.td-1 {
	width: 100px;
}
.popup .items-table table td.td-2 {
	width: 175px;
}
.popup .items-table table td.td-3 {
	width: 70px;
	padding: 0 15px;
}
.popup .items-table table td.td-4 {
	width: 70px;
	padding: 0 15px;
}
.popup .items-table table td.td-5 {
	width: 70px;
	padding: 0 15px;
}
.popup .items-table table td.td-6 {
	width: 70px;
}
.popup .items-table table thead td {
	font-size: 11px;
	text-align: center;
	color: #cabaa5;
	font-family: 'spsl_clarendoncregular';
	height: 26px;
}
.popup .items-table table tbody img {
	max-width: 107px;
}
.popup .items-table table tbody td:first-child {
	vertical-align: top;
}
.popup .items-table table tbody td:nth-child(2) {
	text-align: left;
}
.popup .items-table table tbody td {
	padding: 15px 0;
	vertical-align: middle;
}
.popup .items-table table tbody td a.name {
	color: #354554;
	text-decoration: none;
	font-family: "Flaticon";
	font-size: 24px;
	line-height: 20px;
	display: inline-block;
}
.popup .items-table table tbody td p {
	font-family: 'figgins_sans';
	font-size: 14px;
	color: #8d7869;
	line-height: 18px;
}
i.icon-wash {
	display: inline-block;
	width: 28px;
	height: 41px;
	background: url(../images/wash.png) no-repeat;
	cursor: pointer;
}
i.icon-wash.active {
	background: url(../images/wash-a.png) no-repeat;
}
i.icon-clean {
	display: inline-block;
	width: 55px;
	height: 13px;
	background: url(../images/clean.png) no-repeat;
	cursor: pointer;
}
i.icon-clean.active {
	background: url(../images/clean-a.png) no-repeat;
}
.popup .items-table table tbody .num {
	position: relative;
	padding-top: 7px;
	padding-bottom: 16px;
	margin-top: 13px;
}
.popup .items-table table tbody .number {
	position: relative;
	text-align: center;
	display: inline-block;
	color: #3a3a3a;
	font-size: 14px;
	font-family: 'spsl_clarendoncregular';
	margin: 0 -25px;
	height: 29px;
}
.popup .items-table table tbody .number * {	
	vertical-align: top;
}
.popup .items-table table tbody a.remove {
	color: #baa493;
	font-family: 'spsl_clarendoncregular';
	text-decoration: none;
	font-size: 11px;
	line-height: normal;
	line-height: 12px;
	position: absolute;
	border-bottom: 1px dotted #baa493;
	bottom: 0;
	left: 0;
	display: inline-block;
	white-space: nowrap;
	display: none;
}
.popup .items-table table tbody tr:hover a.remove:hover {
	border-bottom-color: transparent;
}
.popup .items-table table tbody .number i.plus, .popup .items-table table tbody .number i.minus {
	position: relative;
	margin-top: -13px;
}
.popup .items-table table tbody .number i.plus {
	top: -5px!important;
}
.popup .items-table table tbody tr:hover .num a.remove {	
	display: inline-block;
}
.popup .items-table table tbody .price {
	font-size: 14px;
	color: #3a3a3a;
	font-family: 'spsl_clarendoncbold';
}
.popup .total {
	float: left;
	margin-left: 20px;
	font-size: 14px;
	color: #3a3a3a;
	font-family: 'spsl_clarendoncregular';
	margin-right: -20px;
	padding-top: 26px;
}
.popup .total .total-inr:before {
	content: '';
	display: block;
	width: 288px;
	height: 20px;
	background: url(../images/total-1.png) no-repeat bottom;
}
.popup .total .total-inr:after {
	content: '';
	display: block;
	width: 288px;
	height: 8px;
	background: url(../images/total-2.png) no-repeat top;
}
.popup .total .summ {
	background: url(../images/total-3.png) repeat-y;
	padding: 18px 40px 20px;
	text-align: center;
}
.popup .total .summ div {
	position: relative;
	text-align: left;
	margin-bottom: 12px;
}
.popup .total .summ div:before {
	content: '';
	display: block;
	width: 100%;
	border-bottom: 1px dotted #ddd7d4;
	top: 11px;
	position: absolute;
}
.popup .total .summ div>span {
	float: right;
	display: inline-block;
	background-color: #fff;
	padding: 0 0 0 4px;
	position: relative;
	font-family: 'spsl_clarendoncbold';
}
.popup .total .summ div>span:first-child {
	float: none;
	padding: 0 4px 0 0;	
	font-family: 'spsl_clarendoncregular';
}
.popup .total .summ div.end {
	margin: 0 -32px;
	padding: 0 32px;
	border-top: 1px solid #e5d0b7;
	padding-top: 13px;
	font-size: 24px;
	font-family: 'spsl_clarendoncbold'!important;
	margin-bottom: 20px;
}
.popup .total .summ div.end:before {
	width: 208px;
	top: 32px;
}
i.icon-rub3 {
	width: 17px;
	height: 17px;
	background: url(../images/rub3.png) no-repeat;
	display: inline-block;
	margin-left: 8px;
}
.popup .total .summ .btn-bay {
	width: auto;
	height: auto;
}
.popup .total .summ .btn-bay span {
	width: 204px;
	height: 36px;
	line-height: 37px;
}
.order-end {
	/*display: block;*/
}
.popup .order-data {
	float: left;
	width: 670px;
	margin-left: 3px;
}
.popup .order-data label {
	display: inline-block;
	width: 172px;
	text-align: right;
	font-size: 14px;
	color: #9f876b;
	font-family: 'spsl_clarendoncregular';
	line-height: 51px;
	margin-right: 24px;
}
.popup .order-data .field {
	display: inline-block;
	width: 465px;
}
.popup .order-data .field input[type='text'] {
	padding: 0 17px;
	width: 434px;
	height: 49px;
	border: 1px solid #cab5a3;
	border-radius: 5px;
	font-size: 18px;
	color: #3a3a3a;
	font-family: 'spsl_clarendoncregular';
	box-shadow: inset 0 1px 3px rgba(150,90,48,0.29);
}
.popup .order-data .field input[type='text'].error {
	border-color: #ff5a42;
	color: #ff5a42;
	box-shadow: inset 0 1px 3px rgba(150,90,48,0.29), 0 0 5px rgba(255,90,66,0.36);
}
.popup .order-data .line {
	margin-bottom: 22px;
}
.popup .order-data .label {
	width: 450px;
	display: inline-block;
	font-size: 11px;
	color: #cabaa5;
	font-family: 'spsl_clarendoncregular';
}
.popup .order-data .label .lab-1 {
	margin-right: 168px;
}
.popup .order-data .label .lab-2 {
	margin-right: 145px;
}
.popup .order-data .field input[type='text'].street {
	width: 135px;
	margin-left: 20px;
}
.popup .order-data .field input[type='text'].house {
	width: 36px;
	float: right;
}
.popup .order-data .field input[type='text'].promo {
	width: 75px;
}
.popup.order-end .total {
	padding-top: 0;
}
.btn-back {
	width: auto;
	height: auto;
}
.btn-back span {
	width: 264px;
	height: 35px;
}
.order-empty, .order-ok {
	text-align: center;
}
.order-empty .empty, .order-ok .empty {
	position: relative;
	padding: 235px 0 35px;
}
.order-empty .empty p, .order-ok .empty p {
	font-size: 35px;
	color: #b1c738;
	font-family: 'spsl_clarendoncregular';
	padding: 0 20px;
	margin-bottom: 75px;
}
.order-ok .btn-back span {
	width: 124px;
}
.icon-empty {
	display: block;
	position: absolute;
	width: 204px;
	height: 174px;
	background: url(../images/box-2.png) no-repeat;
	top: 63px;
	left: 50%;
	margin-left: -110px;
}
.icon-ok {
	display: block;
	position: absolute;
	width: 204px;
	height: 157px;
	background: url(../images/box.png) no-repeat;
	top: 63px;
	left: 50%;
	margin-left: -110px;
}
.popup .message {
	text-align: center;
	font-size: 14px;
	color: #3a3a3a;
	font-family: 'spsl_clarendoncregular';
	height: 32px;
	margin: -37px 0 5px;
}
.popup .message b {
	font-family: 'spsl_clarendoncbold';
	font-weight: normal;
}
.popup-container {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	overflow: auto;
	margin: 0;
	padding: 0;
	border: 0;
	border-collapse: collapse;
	width: 100%;
	height: 100%;
	display: none;
}
body.no-scroll {
	overflow: hidden;
}
.stop {
  	position: absolute;
  	bottom: 377px!important;
}
.fixes-s {
	position: fixed;
	width: 1px;
	height: 1px;
	bottom: 0;
	left: 0;
}
@media screen and (max-width: 1250px) { 
 	body, html {
 		min-width: 1000px;
 	}	
 	#header {
 		width: 1000px;
 		height: 562px;
 	}
 	header {
 		height: 562px;
 	}
 	.header-inr2 {
 		width: 1000px;
 	}
 	.header-inr2 img {
 		width: 100%;
 	}
 	nav#top-nav {
 		width: 1000px;
 		background-image: url(../images/nav-bg.png); 
 		background-repeat: no-repeat;
 		background-size: 100% auto;
 		height: 145px;
 	}
 	nav#top-nav ul li {
 		vertical-align: top;
 	}
 	nav#top-nav ul {
 		padding-top: 12px;
 	}
 	.btn-catalog {
 		top: 317px;
 	}
 	nav#top-nav .image-top {
 		left: 145px;
 	}
 	.container-product-inr {
 		width: 1000px;
 	}
 	.product-item {
		width: 284px;
		margin-bottom: 10px;
		margin-right: 10px;
	}
	.btn-bay span, .btn-back span {
		width: 100px;
	}
	.btn-bay, .btn-back {
		width: auto;
		font-size: 13px;
	}
	.product-item .price-num {
		width: 175px;
	}
	.product-item .price-num {
		font-size: 13px;
	}
	.footer-inr1 {
		width: 1000px;
	}
	.footer-inr1 ul li {
		vertical-align: top;
	}
	.footer-inr2 {
		width: 1000px;
	}
}

header.header-v2 {
	background-image: url(../images/header-bg-2.jpg);
	height: 497px;
}
header.header-v2 #header {
	height: 497px;
	width: 100%;
}
header.header-v2 .header-top {
	height: 107px;
	background: url(../images/header-top.png) repeat-x;
}
header.header-v2 .header-top-inr {
	width: 1170px;
	margin: 0 auto;
}
header.header-v2 #logo {
	margin-top: 23px;
}
header.header-v2 .header-top nav {
	float: left;
	width: 715px;
}
header.header-v2 .header-top nav ul {
	display: table;
	width: 100%;
}
header.header-v2 .header-top nav ul li {
	display: table-cell;
	text-align: center;
	height: 107px;
	vertical-align: middle;
	width: 1%;
}
header.header-v2 .header-top nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'spsl_clarendoncregular';	
	border-bottom: 1px solid transparent;
	text-shadow: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;	
}
header.header-v2 .header-top nav ul li a:hover {
	border-bottom: 1px solid #fff;
	text-shadow: 0 0 1px #fff;
}
header.header-v2 #header .phone {
	padding-top: 20px;
	color: #fff;
}
header.header-v2 #header .phone p {
	font-size: 31px;
}
header.header-v2 #header .phone p i {
	top: 15px;
}
header.header-v2 #header .phone div {
	width: 255px;
	font-size: 12px;
}
header.header-v2 .bg-center {
	position: relative;
	width: 929px;
	position: relative;
	margin: 0 auto;
}
header.header-v2 .bg-center img {
	position: absolute;
	left: -25px;
	top: 0;
}
header.header-v2 .bg-center .mess {
	width: 299px;
	height: 223px;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	top: 1px;
	background: url(../images/message.png) no-repeat;
}
.bg-c {
	background-image: url(../images/big-bg.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	background-size: auto 100%;
	padding-bottom: 72px;
	margin-bottom: -72px;
}
.bg-c:after {
	content: '';
	clear: both;
	display: block;
}
.bg-l {
	background-image: url(../images/bg.png);
	background-repeat: repeat-x;
	padding-bottom: 72px;
	margin-bottom: -72px;
}

.legend {
	position: relative;
	width: 880px;
	margin: 0 auto;
	padding-top: 105px;
}
.legend .text {
	position: relative;
	z-index: 2;
}
.legend .text div {
	width: 425px;
	text-align: left;
	display: inline-block;
}
.legend .text h3 {
	font-size: 48px;
	font-family: "Flaticon";
	font-weight: normal;
	margin-bottom: 10px;
	line-height: 48px;
}
.legend .text p {
	font-size: 14px; 
}
.legend .text-1, .legend .text-3, .legend .text-5 { text-align: right; }
.legend .text-2 div, .legend .text-4 div { text-align: right; }
.legend .text-1 h3 { color: #508cce; }
.legend .text-2 h3 { color: #ff0c00; }
.legend .text-3 h3 { color: #d72b78; }
.legend .text-4 h3 { color: #ff9220; }
.legend .text-5 h3 { color: #80b423; }
.legend .text-1 { padding-bottom: 375px; }
.legend .text-2 { padding-bottom: 530px; }
.legend .text-3 { 
	padding-bottom: 545px;
	position: relative;
    top: -30px;
 }
.legend .text-4 { 
	padding-bottom: 660px;
    position: relative;
    top: -35px;
}

.legend .text-5 { padding-bottom: 170px; }
.legend .img-g-1 {
	width: 1220px;
	height: 1745px;
	background: url(../images/g-1.png) no-repeat;
	top: 190px;
	left: -180px;
	position: absolute;
}
.legend .img-g-2 {
	width: 1124px;
	height: 681px;
	background: url(../images/g-2.png) no-repeat bottom right;
	top: 608px;
	left: -110px;
	position: absolute;
}
.legend .img-g-3 {
	width: 758px;
	height: 442px;
	background: url(../images/g-3.png) no-repeat;
	top: 1975px;
	right: -192px;
	position: absolute;
}
.legend .img-g-4 {
	width: 1203px;
	height: 1006px;
	background: url(../images/g-4.png) no-repeat;
	top: 1425px;
	left: -150px;
	position: absolute;
}
.legend .img-g-5 {
	width: 1035px;
	height: 2013px;
	background: url(../images/g-5.png) no-repeat;
	bottom: -95px;
	left: -70px;
	position: absolute;
	z-index: 3;
}
.body-lg .footer-inr1:before {
	margin-left: -60px;
	background: url(../images/footer-img-2.png) no-repeat;
}
.body-lg {
	overflow-x: hidden;
	min-width: 1000px;
	
	background-image: url(../images/bg-yelow.png);
}
@media screen and (max-width: 1000px) { 
	.body-lg {
		overflow-x: auto;
	}
}
@media screen and (max-width: 1250px) { 		
	header.header-v2 .header-top-inr {
		width: 1000px;
	}
	header.header-v2 .header-top nav {
		width: 550px;
	}
}
header.header-v3 {
	background: none;
	height: 107px;
	margin-bottom: -107px;
	position: relative;
	z-index: 52;	
	border: 0;
	float: left;
	width: 100%;
}
header.header-v3 #header {
	height: 107px;
}
header.header-v3 .header-top {
	background: rgba(229,110,0,0.49);
}
.top-slider {
	position: relative;
}
.top-slider .bxslider, .top-slider, .top-slider .bxslider2 {
	height: 545px;
}
.top-slider .bxslider li, .top-slider .bxslider2 li {
	height: 545px;
	display: none;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%!important;
}
.top-slider .bxslider li .text, .top-slider .bxslider2 li .text {
	text-align: center;
	color: #fff;
	width: 890px;
	margin: 140px auto 0;
	font-size: 50px;
	font-family: 'corkiregular';
	text-shadow: 0 1px 0 #aa6300;
}
.top-slider .bxslider li .text:before, .top-slider .bxslider2 li .text:before {
	content: '';
	display: block;
	width: 635px;
	height: 33px;
	background: url(../images/ar1.png) no-repeat;
	margin: 0 auto 15px;
}
.top-slider .bxslider li .text:after, .top-slider .bxslider2 li .text:after {
	content: '';
	display: block;
	width: 629px;
	height: 2px;
	background: url(../images/ar2.png) no-repeat;
	margin: 42px auto 0;
}
.top-slider .bx-controls-direction a {
	position: absolute;
	width: 23px;
	height: 44px;
	display: block;
	font-size: 0;
	background: url(../images/arrow-s.png) no-repeat;
	bottom: 182px;
	left: 16px;
}
.top-slider .bx-controls-direction a.bx-next {
	left: auto;
	right: 16px;
	background-position: -23px 0;
}
.top-slider .bx-controls {
	z-index: 52;
	position: relative;
}
.top-slider .bx-pager {
	position: relative;
	text-align: center;
	margin-top: -100px;
}
.top-slider .bx-pager-item {
	display: inline-block;
}
.top-slider .bx-pager-item a {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 2px solid #fff;
	opacity: 0.5;	
	font-size: 0;	
	margin: 0 8px;
}
.top-slider .bx-pager-item a.active {
	background-color: #fff;
	opacity: 1;
}
#bx-pager a {
	display: block;
	text-decoration: none;
	height: 515px;
}
#bx-pager a:after {
	content: '';
	clear: both;
	display: block;
}
#bx-pager a .image {
	float: left;
}
#bx-pager .all {
	float: left;
	width: 355px;
	padding-top: 60px;
}
#bx-pager .all .name {	
	font-family: "Flaticon";
	font-size: 36px;
	color: #354554;
}
#bx-pager .all .sp {
	font-size: 14px;
	color: #6d4c30;
	font-weight: 700;
	margin-top: 10px;
}
#bx-pager .all .mail {	
	font-size: 14px;
	color: #6d4c30;
	margin-bottom: 15px;
}
#bx-pager .all .text {	
	font-size: 14px;
	color: #6d4c30;
	opacity: 0;
}
#bx-pager a.active .all .text {	
	opacity: 1;
} 
#bx-pager .all .text p {
	margin-bottom: 16px;
}
#bx-pager .bx-p-2>div {
	float: right;
	text-align: right;
}
#bx-pager:after {
	content: '';
	clear: both;
	display: block;	
}
#bx-pager .bx-p-1 {
	float: left;
	position: relative;
	z-index: 53;
	margin-left: -170px;
	margin-right: -100px;
}
#bx-pager .bx-p-2 {
	margin-right: -170px;
	margin-left: -100px;
}
#bx-pager .bx-p-1.active, #bx-pager .bx-p-2.active {
	margin-left: 0;
	margin-right: 0;
}
#bx-pager .bx-p-2 {
	float: right;
	position: relative;
	z-index: 53;
}
#bx-pager .bx-p-1 .image {
	position: relative;
	top: -160px;
}
#bx-pager .bx-p-1 .all {
	position: relative;
	left: -80px;
	padding-left: 20px;
}
#bx-pager .bx-p-1.active .all {
	left: 0;
}
#bx-pager .bx-p-2 .all {
	position: relative;
	right: -80px;
	padding-right: 20px;
}
#bx-pager .bx-p-2.active .all {
	right: 0;
}
#bx-pager .bx-p-2 .image {
	position: relative;
	top: -85px;
}
#bx-pager a.active .all .name {	
	color: #ff5a42;
}
#bx-pager * {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}
#bx-pager {
	background: url(../images/left.png) repeat-x top left;
	margin: -60px auto 0;
	z-index: 52; 
	position: relative;
	height: 505px;	
	max-width: 1300px;
}
#bx-pager.eq2 {
	background: url(../images/right.png) repeat-x top right;
}
body.body-tm #page {
	overflow: hidden;
}
.container-product.connect {
	position: relative;
	z-index: 53;
	background-image: url(../images/connect.png);
	padding: 0;
	height: 260px;
	text-align: center;
}
.body-tm footer {
	margin-top: 0;
	z-index: 53;
}
.container-product.connect h3 {
	font-size: 32px;
	color: #9f876b;
	font-weight: normal;	
    font-family: 'spsl_clarendoncregular';
    padding: 35px 0;
}
.container-product.connect input[type='text'] {
	padding: 0 17px;
	width: 434px;
	height: 49px;
	border: 1px solid #cab5a3;
	border-radius: 5px;
	font-size: 18px;
	color: #3a3a3a;
	font-family: 'spsl_clarendoncregular';
	box-shadow: inset 0 1px 3px rgba(150,90,48,0.29);
}
.container-product.connect button {
	display: inline-block;
	text-decoration: none;
	height: 50px;
	background-color: #fff;
	padding: 2px;
	box-shadow: 0 0 1px #c16526;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	text-transform: uppercase;
	font-size: 14px;
	color: #ffffff;
	font-family: 'spsl_clarendoncregular';
	text-align: center;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	vertical-align: top;
	border: 0;
	cursor: pointer;
	margin-left: 4px;
}
.container-product.connect button span {
	display: inline-block;
	width: 234px;
	height: 46px;
	line-height: 46px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background-color: #b1c739;
	font-size: 16px;
}
.container-product.connect button:hover span {
	background: rgb(210,223,117);
	background: -moz-linear-gradient(top, rgba(210,223,117,1) 0%, rgba(137,166,23,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(210,223,117,1)), color-stop(100%,rgba(137,166,23,1)));
	background: -webkit-linear-gradient(top, rgba(210,223,117,1) 0%,rgba(137,166,23,1) 100%);
	background: -o-linear-gradient(top, rgba(210,223,117,1) 0%,rgba(137,166,23,1) 100%);
	background: -ms-linear-gradient(top, rgba(210,223,117,1) 0%,rgba(137,166,23,1) 100%);
	background: linear-gradient(to bottom, rgba(210,223,117,1) 0%,rgba(137,166,23,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2df75', endColorstr='#89a617',GradientType=0 );
}
.container-product.connect button:hover {
	box-shadow: 0 0 3px #c16526;
}
@media screen and (max-width: 1250px) { 
	#bx-pager .all {
		width: 270px;
	}
	#bx-pager .bx-p-1 .image {
		margin-left: -20px;
	}
	#bx-pager .bx-p-2 .image {
		margin-right: -20px;
	}
	#bx-pager .bx-p-2 {
		margin-left: -115px;
	}
	#bx-pager .bx-p-1 {
		margin-right: -115px;
	}
	#bx-pager {
		background-position: top left;
	}
	#bx-pager.eq2 {
		background-position: top right;
	}
	#bx-pager .bx-p-2 .all {
		padding-right: 0;
	}
	#bx-pager .bx-p-1 .all {
		padding-left: 0;
	}
}
.spacer {
	position: absolute;
	height: 505px;
	top: 0;
	z-index: 51;
	background: url(../images/spacer.png) no-repeat right 0;
}
.spacer2 {
	position: absolute;
	height: 505px;
	top: 0;
	z-index: 51;
	background: url(../images/spacer2.png) no-repeat left 0;
}
